body {
  overflow: hidden;
}
.loading-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
}

.loading-container.active {
  display: flex;
}

.loading-text {
  color: rgba(255, 255, 255, 0.753);
  margin-top: 16px;
}

.control-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}

.control-container .control-btn {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: rgb(192, 173, 68);
  margin: 4px;
}

.control-container .control-btn:hover {
  color: white;
  width: 54px;
  height: 54px;
  transition: ease 0.2s;
}

input {
  width: 50px;
}

.dot-container {
  position: fixed;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  cursor: pointer;
  box-shadow: 0 0 10px 10px #ffffffb4,
}

.dot {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  background-image: radial-gradient(rgb(253, 253, 253), rgba(255, 255, 0, 0), rgb(255, 255, 255));
}

.dot-container:hover .dot {
  background-image: radial-gradient(rgb(70, 148, 250), rgba(255, 255, 0, 0), rgb(103, 118, 255));
}

.dot-container:hover span {
  background: rgb(70, 148, 250)
}

.dot-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}



.popup {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.hidden {
  display: none !important;
}

.back-btn {
  cursor: pointer;
  position: absolute;
  left: 30px;
  top: 30px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
}